# Database
POSTGRES_DB=cynosure
POSTGRES_USER=cynosure
POSTGRES_PASSWORD=cynosure_secret
POSTGRES_HOST=db

# Django
DJANGO_ENV=production
DJANGO_SECRET_KEY=^tgst%o3!1!*0^j2sz1quj$b8nv=aw76bc*xcszccnd2(0e)nz
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Redis & Celery
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
